# database
DATABASE_URL=""

# SENTRY_URL
SENTRY_URL=""

# redis
REDIS_HOST="localhost"
REDIS_PORT="6397"

# django
SECRET_KEY=""

#email
EMAIL_HOST=""
EMAIL_PORT=""
EMAIL_HOST_USER=""
EMAIL_HOST_PASSWORD=""
ENABLE_EMAIL=1

DOMAIN_NAME=""