# redis
REDIS_URL="redis://localhost:6379/0"

# django
SECRET_KEY="localhostsercretkey"

#email
DOMAIN_NAME="localhost"

ENABLE_EMAIL=1
EMAIL_HOST="smtp.sendgrid.net"
EMAIL_PORT=587
EMAIL_HOST_USER="apikey"
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL=""

# admin
ADMIN_EMAIL="admin@admin.com"
ADMIN_PASSWORD="admin@123"

DATABASE_URL=""

SENTRY_URL=""

#social login
GOOGLE_KEY=""
GOOGLE_SECRET=""
FACEBOOK_KEY=""
FACEBOOK_SECRET=""