# database
DATABASE_URL=""

# sentry
SENTRY_URL=""

# redis
REDIS_HOST="localhost"
REDIS_PORT=6379

# django
SECRET_KEY=""

#email
ENABLE_EMAIL=1/0
EMAIL_HOST="smtp.sendgrid.net"
EMAIL_PORT=587
EMAIL_HOST_USER="apikey"
EMAIL_HOST_PASSWORD=""
DEFAULT_FROM_EMAIL=""

DOMAIN_NAME=""

# admin
ADMIN_EMAIL=""
ADMIN_PASSWORD=""